* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header {
    background-color: #B0E0E6;
    padding: 20px;
    text-align: center;
}

h1 {
    color:#0a7474;
    font-family: "Georgia", sans-serif;
    font-size: 50px;
    margin-bottom: 30px;
}

p {
    font-family: "Poppins",sans-serif;
    font-size: 25px;
}

nav {
    background-color: #E0FFFF;
    padding: 10px;
    text-align: center;
}

a {
    font-family:"Verdana",sans-serif;
    font-size: 16px;
    color: #333333;
    padding: 10px;
    text-decoration: none;
    font-weight: bold;
}

a:hover{
    background-color: #0a7474;
    transition: background-color 0.4s;
}

main{
    background-color: #E0FFFF;
    height: 100vh;
    padding: opx 20px;
}
section{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #B0E0E6;
    padding: 20px;
    max-width: 800px;
    margin: auto;
    border-radius: 0px 0px 10px 10px;
}



section h2 {
    font-family: "Georgia", sans-serif;
    font-size: 28px;
    color:#0a7474;
    text-align: center;
    margin-bottom: 20px;
}

section h3 {
    font-family: "Georgia", sans-serif;
    font-size: 22px;
    margin-bottom: 15px;
    color:#0a7474
}

section p {
    line-height: 1.6;
    font-size: 18px;
    color: #1d5252;
    margin-bottom: 10px;
}

img {
    max-width: 100%;
    margin-top: 10px;
}